doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    include ./includes/head
  body
    include ./includes/header
    block content
    include ./includes/footer
