<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
   <!-- <link rel="stylesheet" href="../styles/main.css">-->
    <!-- endbuild -->

    <link rel="stylesheet/less" type="text/css" href="../styles.less" />

    <!-- Here: include any less plugin scripts, any required browser shims and optionally set less = any options  -->
    <script src="/bower_components/less/dist/less.js"></script>

</head>
<body>
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">grunt learn webapp</h3>
    </div>

    <div class="jumbotron">
        <h1>'hello world!'</h1>
        <p class="lead">Always a pleasure scaffolding your apps.</p>
        <p><a class="btn btn-lg btn-success" href="#">Splendid! <span class="glyphicon glyphicon-ok"></span></a></p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4><a href="https://html5boilerplate.com/">HTML5 Boilerplate</a></h4>
            <p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>

            <h4><a href="http://libsass.org/">Sass</a></h4>
            <p>Sass is a mature, stable, and powerful professional grade CSS extension language.</p>


            <h4><a href="http://getbootstrap.com/">Bootstrap</a></h4>
            <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>

            <h4><a href="http://modernizr.com/">Modernizr</a></h4>
            <p>Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.</p>

        </div>
    </div>

    <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
    </div>
</div>





</body>
</html>