<!DOCTYPE html>
<html>
<head>
    <title>Microblog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
<body>

<nav class="header">
    <ul class="list">
        <li class="logo">
            <a href="/">Microblog</a>
        </li>
        <li class="">
            <a href="/">首页</a>
        </li>
        <li class="">
            <a href="/login">登录</a>
        </li>
        <li class="">
            <a href="/reg">注册</a>
        </li>
    </ul>
</nav>

<div class="container">
    <%- body %>
    <hr/>
</div>

<footer class="footer">
    <p><a href="http://www.byvoid.com/" target="_blank">BYVoid</a> 2012</p>
</footer>

</body>
</html>