
<h3 class="field regheader"><%- title %></h3>
<form method="post" class="regform">
    <p class="mess"></p>
        <div class="item"><label for="username" class="label">用户名</label><input type="text" placeholder="输入登陆用户名"
                                                                                id="username" name="username"></div>
        <div class="item"><label for="password" class="label">用户密码</label><input type="password" placeholder="用户密码"
                                                                                 id="password" name="password"></div>
        <div class="item"><label class="label"></label><input type="submit" id="sub" name="sub" value="登陆"></div>
</form>

