<h3 class="field regheader"><%- title %></h3>
<form class="regform" method="post">
    <p class="mess"></p>
    <div class="item">
        <label for="" class="label">用户名</label>
        <input type="text" placeholder='输入注册用户名' id='username' name='username'>
    </div>
    <div class="item">
        <label for="" class="label">用户名</label>
        <input type="password" placeholder='用户密码' id='password' name='password'>
    </div>
    <div class="item">
        <label for="" class="label">用户名</label>
        <input type="password" placeholder='重复密码' id='passwordconf' name='passwordconf'>
    </div>
    <div class="item">
        <label for="" class="label"></label>
        <input type='submit' id='sub' name='sub' value='注册'>
    </div>
</form>
