<!DOCTYPE html>
<html>
<head>
	<title>demo</title>
	<meta charset="utf-8"/>
	<style type="text/css">
		table{
			margin: 50px auto;
		}
       .output{
       	 font-weight: bold;
       }
       #payment{
       	 text-decoration: underline;
       }
       #graph{
       	 border: solid black 1px;
       }
       th,td{
       	vertical-align: top;
       }
	</style>
</head>

<body>
   <table>
   	  <tr>
   	  	 <th>Enter Loan Data:</th>
   	  	 <td></td>
   	  	 <th>Loan Balance,Cumulative Equity, adn Interest Payments</th>	 
   	  </tr>
   	  <tr>
   	  	 <td>Amount of the loan ($):</td>
   	  	 <td><input id="amount" onchange="calculate();" /></td>
   	  	 <td rowspan =8> 
             <canvas id="graph" width="400" height="250"></canvas>
   	  	 </td>	 
   	  </tr>
	   <tr>
		   <td>Amount of the interest (%):</td>
		   <td><input id="apr" onchange="calculate();" /></td>
       </tr>
	   <tr>
		   <td>Reapyment period (years):</td>
		   <td><input id="years" onchange="calculate();" /></td>
	  </tr>
	   <tr>
		   <td>Zipcode (to find lenders):</td>
		   <td><input id="zipcode" onchange="calculate();" /></td>
	   </tr>
	   <tr>
		   <th>Approxmate Payment:</th>
		   <td><button onclick="calculate();">Calculate</button></td>
	   </tr>
	   <!--<tr>-->
		   <!--<td>Reapyment period (years):</td>-->

		   <!--<td><input onchange="calculate();" /></td>-->
	   <!--</tr>-->
	   <tr>
		   <td>Monthly payment:</td>
		   <td>$ <span class="output" id="payment"></span></td>
	   </tr>
	   <tr>
		   <td>Total payment:</td>
		   <td>$ <span class="output" id="total"></span></td>
	   </tr>
	   <tr>
		   <td>Total interest:</td>
		   <td>$ <span class="output" id="totalinterest"></span></td>
	   </tr>
	   <tr>
		   <th>Sponsors:</th>
		   <td colspan=2>
		   Apply for your loan with one of these fine lenders:
			   <div id="lenders"></div>
		  </td>
	   </tr>
   </table>

   <script type="text/javascript">
         function calculate(){
			 //查找文档中用于输入输出的元素
			 //debugger
			 var amount = document.getElementById("amount");
			 var apr = document.getElementById("apr");
			 var years = document.getElementById("years");
			 var zipcode = document.getElementById("zipcode");
			 var payment = document.getElementById("payment");
			 var total = document.getElementById("total");
			 var totalinterest = document.getElementById("totalinterest");

			 //假设所以得输入都是合法的，将从input元素中获取输入数据
			 //将百分比格式转换为小数格式，并从年利率转换为月利率
			 //将年度赔付转换为月度赔付
			 var principal = parseFloat(amount.value);
			 var interest = parseInt(apr.value) / 100 / 12;
			 var payments = parseFloat(years.value) * 12;

			 //现在计算月度赔付的数据
			 var x = Math.pow(1 + interest , payments); //pow() 方法可返回 x 的 y 次幂的值。
			 var monthly = (principal * x * interest) / (x - 1);

			 //如果结果没有超出JavaScript能表示的数字范围，且用户输入的也正确
			 //这里所展示的结果就是合法的
			 if(isFinite(monthly)){
				  //将数据填充至输出字段的位置，四舍五入到小数点后两位数字
				 payment.innerHTML = monthly.toFixed(2);
				 total.innerHTML = (monthly * payments).toFixed(2);
				 totalinterest.innerHTML = ((monthly * payments) - principal).toFixed(2);


				 //将用户的输入数据保存下来 ， 这样在下次访问的时候也能取到数据
				 save(amount.value , apr.value , years.value ,zipcode.value );

				 //找到并展示本地放贷人 ， 但忽略网络错误
				 try{
					 //捕获这段代码抛出所有的异常
					 getLenders(amount.value , apr.value , years.value ,zipcode.value);

				 }catch (e){  /* 忽略这些异常*/ }

				 //最后，用图标展示货款余额、利息和资产收益
				 chart(principal,interest,monthly,payments);
			 }else{
				 //结算结果不是数字或者是无穷大，意味着输出数据是非法或者不完整的
				 //清空之前的输出数据
				 payment.innerHTML="";
				 total.innerHTML="";
				 totalinterest.innerHTML ="";
				 chart();  //不传参数就是清除图表
			 }
		 }


	     //将用户的数据保存到localstorage对象的属性中
	   //这些属性在再次访问时还会保持在原位置
	   function save(amount,apr,years,zipcode){
		   //只有在浏览器支持才运行
		   if(window.localStorage){
			   //localStorage.loan_amount = amount;
			   //localStorage.loan_apr = apr;
			   //localStorage.loan_years = years;
			   //localStorage.loan_zipcode = zipcode;
			   var obj = {loan_amount:amount,loan_apr:apr,loan_years:years,loan_zipcode:zipcode};
			   localStorage['obj'] = JSON.stringify(obj);


		   }
		  // console.log(JSON.stringify(localStorage['obj']))
	   }

       //在文档首次加载时，将会尝试还原输入字段
	   window.onload = function(){
		   //如果浏览器支持本地存储并且上次保存的值时存在的
		   //debugger
		   if(window.localStorage && localStorage['obj']){
			   var json = JSON.parse(localStorage['obj']);
			   amount.value = json.loan_amount;
			   apr.value = json.loan_apr;
			   years.value = json.loan_years;
			   zipcode.value = json.loan_zipcode;
		   }
	   }

	   //将用户的输入发送至服务端脚本（理论上）
	   //将返回一个放贷人的连接列表 ， 在这个例子中并没有实现这种功能查找放贷人
	   //但如果该服务存在，该函数会找到他
	   function getLenders(amount,apr,years,zipcode){
		   //如果浏览器不支持XHLHttpRequest对象，则退出
		   if(!window.XMLHttpRequest) return;

		   //找到要显示放贷人列表的元素
		   var ad = document.getElementById('lenders');
		   if(!ad) return; //如果为空返回

		   //将用户的输入数据进行URL编码 ， 并作为参数附加在URL里
		   var url = "getLenders.php?amt=" + encodeURIComponent(amount)+
						   "&apr=" + encodeURIComponent(apr)+
						   "&years="+encodeURIComponent(years)+
						   "&zip=" + encodeURIComponent(zipcode);

		   //通过XMLHttpRequest对象来获取返回数据
		   var result = new XMLHttpRequest();
		   result.open("GET",url);
		   result.send(null);

		   //在返回数据之前，注册一个事件处理程序，这个处理函数
		   //将会在服务器的响应返回至客户端的时候调用
		   result.onreadystatechange = function(){
			   if(result.readyState == 4 && result.status == 200){
				   //代码运行到这里，说明我们得到了一个合法且完整的HTTP请求
				   var response = result.responseText; //HTTP响应是以字符串的形式呈现的

				   var lenders = JSON.parse(response); //将其解析为js数组

				   //将数组中的放贷人对象转换为HTML字符串形式
				   var list ="";
				   for(var i= 0,len=lenders.length;i<len;i++){
					   list += "<li><a href='" + lenders[i].url + "'>"+
								lenders[i].name + "</a></li>"
				   }

				   //将数据在html元素中呈现出来
				   ad.innerHTML = "<ul>" + list + "</ul>";
			   }
		   }
	   }


	   //在HTML 《canvas》 元素中用图表展示月度贷款余额、利息和资产收益
	   //如果不传入参数的话，则清空之前的图表数据
	   function chart(principal,interest,monthly,payments){
		   var graph = document.getElementById("graph"); //如果<canvas>标签
		   graph.width = graph.width; //用一种巧妙的手法清除并重置画布

		   //如果不传入参数，或者浏览器不支持画布，则直接返回
		   if(arguments.length == 0 || !graph.getContext ) return;

		   //获得画布元素的'cntext'对象，这个对象定义了一组绘画API
		   var g = graph.getContext('2d');
		   var width = graph.width;
		   var height = graph.height;  //获取画布大小

		   //这里的函数作用是将付款数字和美元数据转换为像素
		   function paymentToX(n){
			   return n * width / payments;
		   }

		   function amountToY(a){
			   return height - (a * height / (monthly * payments * 1.05));
		   }

		   //付款数据是一条从(0,0)到(payments,monthly*payments) 的直线
		   g.moveTo(paymentToX(0),amountToY(0)); //从左下方开始
		   g.lineTo(paymentToX(payments),amountToY(monthly * payments)); //绘制至右上方
		   g.lineTo(paymentToX(payments),amountToY(0))
		   g.closePath(); //将结尾连接至开头
		   g.fillStyle = "#f88";  //红色
		   g.fill();  //填充
		   g.font = "bold 12px sans-serif";
		   g.fillText("Total Interest Payments",20,20); //绘制文字

		   //很多资产数据并不是线性的，很难将其反映到图片中
		   var equity = 0;
		   g.beginPath(); //开始绘制新图形
		   g.moveTo(paymentToX(0),amountToY(0)); //从左下方开始
		   for(var i= 0,len=payments;i<len;i++){
			   //计算出每一笔赔付的利息
			   var thisMonthsInterest = (principal - equity) * interest;
			   equity += (monthly - thisMonthsInterest); //得到资产额
			   g.lineTo(paymentToX(i),amountToY(equity)); //将数据绘制到画布上
		   }

		   g.lineTo(paymentToX(payments),amountToY(0)); //将数据绘制至x轴
		   g.closePath();  //将线条结尾连接至线条开头
		   g.fillStyle = "green"; //使用绿色绘制图形
		   g.fill();  //曲线之下的部分均填充
		   g.fillText("Total Equity",20,35);

		   //再次循环，余额数据显示黑色粗线条
		   var bal = principal;
		   g.beginPath();
		   g.moveTo(paymentToX(0),amountToY(bal));
		   for(var j= 1,len=payments;j<len;j++){
			   var thisMonthsInterest = bal * interest;
			   bal -= (monthly - thisMonthsInterest);  //得到资产额
			   g.lineTo(paymentToX(j),amountToY(bal));  //将直线连接至某点
		   }
		   g.lineWidth = 3; //直线宽度
		   g.stroke();  //绘制余额的曲线
		   g.fillStyle = "black"; //黑色字体
		   g.fillText("Loan Balance",20,50);  //图例文字


		   //将年度数据在X轴做标记
		   g.textAlign = "centent"; //文字居中
		   var y = amountToY(0);
		   for(var year=1; year * 12 < payments; year++ ){ //遍历每年
			   var x = paymentToX( year * 12); //计算标记位置
			   g.fillRect(x - 0.5,y - 3, 2 , 3 ); //开始绘制标记
			   if(year == 1){
				   g.fillText("Year",x,y-5);  //在坐标轴做标记
			   }
			   if(year % 5 == 0 && year * 12 !== payments){
				   g.fillText(String(year),x,y-5); //每五年的数据
			   }
		   }


		   //将赔付数据额标记在右边界
		   g.textAlign = "right";     //文字右居中
		   g.textBaseline = "middle"; //文字垂直居中
		   var ticks = [month * payments,principal];  //我们将要用到的两个点
		   var rightEdge = paymentToX(payments);  //设置x坐标
		   for(var i=0;i<ticks.length;i++){   //对每两个点做循环
			   var y = amountToY(ticks[i]);   //计算每个标记的Y坐标
			   g.fillRect(rightEdge - 3 , y - 0.5 , 3 , 1);  //绘制标记
			   g.fillText(String(ticks[i].toFixed(0)),rightEdge - 5 , y); //绘制文本
		   }
	   }
 </script>
</body>
</html>